default-resources:
  slurm_extra: "''"

set-threads:
  ## refs
  genome_get: 1
  genome_merge: 1
  genome_faidx: 1
  genome_chrom_sizes: 1
  transcriptome_fasta: 4
  transcriptome_merge: 1
  annotation_get: 1
  annotation_merge: 1
  annotation_sort: 1
  annotation_genePred: 1
  annotation_bed: 1
  annotation_intergenic: 1
  annotation_exon: 1
  annotation_intron: 1
  star_index: 8
  salmon_decoy: 2
  salmon_index: 4
  ## fastqc
  fastqc_raw: 1
  fastqc_trim: 1
  fastqc_align: 1
  ## trim
  trim_se: 4
  trim_pe: 4
  ## merge
  merge: 1
  ## align
  align: 16
  align_index: 8
  ## deduplicate
  deduplicate: 1
  deduplicate_index: 8
  ## junctions
  junctions_count: 8
  junctions_adjust: 1
  ## count
  featureCounts_s0: 8
  featureCounts_s1: 8
  featureCounts_s2: 8
  ## salmon
  salmon_quant: 8
  ## read_distribution
  read_distribution: 1
  ## read_gc
  read_gc: 1
  ## inner_distance:
  inner_distance: 1
  ## rrna
  rrna_get: 1
  rrna_index: 1
  rrna_align: 16
  ## coverage
  coverage_bedGraph: 2
  coverage_summary: 1

set-resources:
  ## refs
  genome_merge:
    runtime: 10
    mem: 4G
  genome_faidx:
    runtime: 10
    mem: 1G
  genome_chrom_sizes:
    runtime: 10
    mem: 1G
  transcriptome_fasta:
    runtime: 30
    mem: 8G
  transcriptome_merge:
    runtime: 10
    mem: 4G
  annotation_sort:
    runtime: 30
    mem: 4G
    slurm_extra: "'--gres=tmpfs:5G'"
  annotation_merge:
    runtime: 10
    mem: 4G
  annotation_genePred:
    runtime: 30
    mem: 4G
  annotation_bed:
    runtime: 30
    mem: 4G
  annotation_intergenic:
    runtime: 30
    mem: 4G
  annotation_exon:
    runtime: 30
    mem: 4G
  annotation_intron:
    runtime: 30
    mem: 4G
  star_index:
    runtime: 90
    mem: 64G
  salmon_decoy:
    runtime: 30
    mem: 4G
  salmon_index:
    runtime: 60
    mem: 32G
  ## fastqc
  fastqc_raw:
    runtime: 60
    mem: 2G
  fastqc_trim:
    runtime: 60
    mem: 2G
  fastqc_align:
    runtime: 60
    mem: 2G
  ## trim
  trim_se:
    runtime: 60
    mem: 8G
  trim_pe:
    runtime: 60
    mem: 8G
  ## merge
  merge:
    runtime: 30
    mem: 8G
  ## align
  align:
    runtime: 180
    mem: 64G
    slurm_extra: "'--gres=tmpfs:100G'"
  align_index:
    runtime: 60
    mem: 32G
  ## deduplicate
  deduplicate:
    runtime: 60
    mem: 8G
  deduplicate_index:
    runtime: 60
    mem: 32G
  ## junctions
  junctions_count:
    runtime: 60
    mem: 8G
  junctions_adjust:
    runtime: 10
    mem: 4G
  ## count
  featureCounts_s0:
    runtime: 240
    mem: 8G
    slurm_extra: "'--gres=tmpfs:50G'"
  featureCounts_s1:
    runtime: 240
    mem: 8G
    slurm_extra: "'--gres=tmpfs:50G'"
  featureCounts_s2:
    runtime: 240
    mem: 8G
    slurm_extra: "'--gres=tmpfs:50G'"
  ## salmon
  salmon_quant:
    runtime: 180
    mem: 32G
  ## read_distribution
  read_distribution:
    runtime: 60
    mem: 8G
  ## read_gc
  read_gc:
    runtime: 60
    mem: 8G
  ## inner_distance
  inner_distance:
    runtime: 60
    mem: 8G
  ## rrna
  rrna_get:
    runtime: 10
    mem: 2G
  rrna_index:
    runtime: 10
    mem: 4G
  rrna_align:
    runtime: 30
    mem: 64G
    slurm_extra: "'--gres=tmpfs:100G'"
  ## coverage
  coverage_bedGraph:
    runtime: 60
    mem: 8G
  coverage_summary:
    runtime: 30
    mem: 4G
